/*
 * I decided to put all the styles here for this test. But I would create a separate module for the styles of each component.
 */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.autocomplete-container {
  width: 400px;
}

.autocomplete-options {
  height: 175px;
  overflow-y: scroll;
}

.autocomplete-option {
  cursor: pointer;
}

.autocomplete-option:hover {
  background: black;
  color: white;
}
